@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow+Condensed:wght@100;500&family=Quicksand:wght@300;500&family=Teko:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff; 
    font-family: 'Quicksand';   
}
.required-asterik{
    color: red;
}
.container{
    max-width: 500px;
    max-height: 1500px;
    width: 100%;
    background: #c9c8c8;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px grey;
}
.container .title {
    font-size: 45px;
    font-weight: 500;
    position: relative;
    color: #07279a;
    font-family: 'Quicksand';
}

.container .title::before {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#06609c,#76acdc);
}
.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
form .user-details .input-box {
    margin: 20px 0 12px 0;
    width:calc(100% / 2 - 20px);
    /*width: 100%;*/
}
.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #07279a;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #07279a;
    padding-left: 15px;
}
form .button {
    height: 45px;
    margin: 10px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #192655;
}
.user-details .input-box input[type="date"]{
    height:45px;
    width: calc(100% - 30px);
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    margin-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.login-link {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.login-link p{
    font-size: 18px;
    color: #07279A;
}
.login-link a {
    color: #07279A;
    text-decoration: none;
    font-weight: bold;
}
.login-link a:hover{
    text-decoration: underline;
    color:#333;
    size: 10px;
}
i{
    color: #595858;
}
 .input-box {
	    width: 300px;
            margin: 20px;
            position: relative;
            /*margin-bottom: 15px;*/
        }

        .password-input {
            width: calc(100% - 30px); /* Adjust based on your layout */
            padding: 8px;
            margin-bottom: 10px;
        }

        .toggle-password {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            cursor: pointer;
            margin-top: 5px;
        }
@media screen and (max-width:600px){
    .container{
        max-width: 100%;
    }
    .container form .user-details .input-box{
        width: 100%;
    }
}

@media screen and (min-width:601px){
    .container {
        max-width: 800px;
    }
    .container form .user-details .input-box{
        width: calc(50% -20px);
    }
}

