body {
    font-family: 'Quicksand';   
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}
.toggle-password {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    margin-top: 5px;
}
.password-input {
    width: calc(100% - 30px); /* Adjust based on your layout */
    padding: 8px;
    margin-bottom: 10px;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #07279A;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #07279a;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #07279A;
    color: #ccc;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #fff;
}
.required-asterik{
color: red;
}
.password-input {
    position: relative;
    width: calc(100% - 30px);
    padding: 8px;
    margin-bottom: 10px;
}

.toggle-password {
    position: absolute;
    top: 27%;
    right: 30px; /* Adjust as needed */
    transform: translateY(-50%);
    cursor: pointer;
}
i{
color: #595858;
}