@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow+Condensed:wght@100;500&family=Quicksand:wght@300;500&family=Teko:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

header {
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  line-height: 2vw;
}

#jntu-logo img {

  height: 8vw;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;

}

#clg-details {
  text-align: center;
  align-content: center;
}

#clg-details h1 {
  color: crimson;
  text-transform: uppercase;
  font-size: 1.8vw;
}

#clg-details h2 {
  color: rgb(95, 95, 255);
  font-size: 1.5vw;
}

#clg-details p {
  color: grey;
  font-size: 1vw;
}

#nav-container {
  width: 100%;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 0 3vw 0 3vw;
  top: 0;
  flex-wrap: wrap;
  background-color: #092C64;
  background-size: cover;
  box-shadow: 0px 0px 5px 0px 10px black;
}

/* nav bar css starts */
.nav {
  display: flex;
  width: 75%;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  font-family: 'Barlow Condensed';
  font-weight: 500;
}

#hub-logo {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-family: "Audiowide", sans-serif;
  font-size: 2rem;
}

.hamburger {
  display: none;
  color: white;
  position: absolute;
}

.nav a,
.register-button {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  width: fit-content;
  height: 100%;
  position: relative;
}

.register-button {
  height: 90px;
}

.nav a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 15%;
}

.register-options a:after {
  bottom: 1%;
}

.nav a:hover::after {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.register-dropdown {
  overflow: hidden;
  display: flex;
  float: left;
}

.nav a:hover {
  color: #689fec;
}

.register-options {
  display: none;
  position: absolute;
  background-color: #092C64;
  width: 100px;
  box-shadow: 0px, 8px, 16px, 0px, rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  margin-top: 81px;
}

.register-options a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
  margin: 0px;
  width: 100%;
  text-align: center;
  float: none;
}

.register-options a:hover {
  background-color: #1450A3;
  color: #fff;
}

.register-dropdown:hover .register-options {
  display: block;
}

@media screen and (max-width: 900px) {
  /* .nav a:not(.icon),

  .register-dropdown .register-button {
    display: none;
  }

  .nav a.icon {
    display: flex;
  }

  .nav:not(.responsive) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .register-dropdown {
    float: none;
    width: 100%;
  }

  .register-options {
    position: static;
  }

  .register-dropdown:hover .register-options {
    display: none;
  }

  .nav.responsive {
    position: relative;
  }

  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav.responsive .register-dropdown {
    float: none;
  }

  .nav.responsive .register-dropdown .register-button {
    display: block;
    width: 100%;
    text-align: left;
  } */

  .hamburger {
    display: block;
    position: absolute;
    transform: translateY(7%);
    font-size: 1.8rem;
    right: 3%;
  }

  #nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 100;
    padding: 3% 0%;
  }

  #nav-bar {
    display: none;
    margin-top: 3%;
    flex-direction: column;
    position: relative;
    font-size: 1.5rem;
    animation: fade-right 0.3s ease-in;
  }

  #hub-logo {
    font-size: 2rem;
  }

  .nav a {
    padding: 0.5rem 0rem;
    border-bottom: 2px solid #ffffff;
  }

  .nav .register-button{
    height: fit-content ;
    padding: 0.5rem;
    border-bottom: 2px solid #ffffff;
  }
  .nav .register-dropdown{
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  .register-dropdown {
    float: none;
    width: 100%;
  }

  #nav-bar.responsive {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}


/* nav bar css ends */

#home {
  display: flex;
  padding: 2.5vw;
  background-color: #eaf1ff;
  justify-content: space-around;
  align-items: center;
}

.intro-content {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: #1450A3;
}

.intro-content h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 7vw;
  color: #1450A3;
  text-shadow: 2px 3px 5px black;
}

.intro-content p {
  font-size: 3vw;
  color: #15355c;
  font-family: 'Quicksand'
}

#home img {
  width: 37%;
  /* height: 27vw; */
  border: #192655;
}

@media screen and (max-width:500px) {

  #home {
    flex-wrap: wrap;
  }

  #home img {
    width: 50%;
  }

  .intro-content h1 {
    font-size: 5vw;
    text-shadow: 1px 1px 3px black;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1
}

.active.fade-bottom {
  animation: fade-bottom 0.3s ease-in;
}

.active.fade-up {
  animation: fade-up 0.3s ease-in
}

.active.fade-down {
  animation: fade-down 0.3s ease-in
}

.active.fade-left {
  animation: fade-left 0.3s ease-in
}

.active.fade-right {
  animation: fade-right 0.3s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: perspective(45px) translateZ(-10px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-down {
  0% {
    transform: perspective(45px) translateZ(10px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {

  display: flex;
  flex-wrap: wrap;
  padding: 30px;

}

/* .subcontainer div{
display:flex;
} */
.vision {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0.5px 0.5px 10px rgba(154, 154, 154, 0.5);
  border-radius: 10px;
}

.vision img {
  margin-left: 50px;
  height: 20vw;
}

.container p {
  color: #1450A3;
  font-family: 'Barlow Condensed', 'sans-serif';
  font-size: 20px;
  padding-top: 20px;
}

.container h1 {
  color: #192655;
  font-family: 'Teko', 'sans-serif';
  font-size: 40px;
}

.mission {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0.5px 0.5px 10px rgba(154, 154, 154, 0.5);
  border-radius: 10px;
}

.mission img {
  margin-right: 50px;
  height: 20vw;
}

.container hr {
  border-color: #1450a3;
}

@media screen and (max-width:500px) {
  .vision {
    flex-direction: column;
  }

  .vision img {
    margin-left: 0;
    height:40vw;
  }

  .mission {
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }

  .mission img {
    margin-right: 0;
    height:40vw;
  }
}

.operations {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.operations img {
  height: 200px;
}

.operations-content {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.592);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  justify-content: space-between;
}

section h1 {
  text-align: center;
  font-family: 'Barlow Condensed';
  font-stretch: 5px;
  color: #192655;
}


.operations-content div {
  text-align: center;
}

.operations-content h1 {
  font-family: 'Barlow Condensed';
  font-size: 30px;
  color: #192655;
}

.operations-content p {
  font-size: large;
  padding-top: 20px;
  font-size: 20px;
  color: #1450A3;
  font-family: 'Quicksand';
  font-weight: 500;
}

@media screen and (max-width:768px) {
  .operations-content {
    flex-direction: column;
    max-width: 100%;
  }

  .operations-content img {
    max-width: 100%;
  }

}
footer{
  background-color: #092C64;
  color:white;
  text-align: center;
  padding:10px;
}