@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Audiowide&family=Barlow+Condensed:wght@100;500&family=Quicksand:wght@300&family=Teko:wght@300&display=swap'); 
*{
    margin: 0;
    padding: 0;
    font-family: Quicksand;
    font-weight: bolder;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('./logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
}
.container{
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border-radius: 1rem;
    max-width: 375px;
    /* max-height: 300px; */
    width: 90%;
    /* background-image: url('./logo.png');
    background-position: center;
    background-size: cover; */
    /* opacity: 0.3; */
}
.name{
    display: flex;
    justify-content: center;
    margin: 5%;
}
.name h3{
    font-size: 2.3rem;
    color: #192655;
}
.jntu-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.password-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.email-div label{
    display: flex;
    justify-content: flex-start;
}
.email-div input[type="email"],.password-div input[type="password"]{
    margin: 15px;
    width: 80%;
    padding: 15px 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: 0.1rem black;
    border-radius: 0.4rem;
}
.forgot-password{
    display: flex;
    padding: 10px;
    padding-top: 0px;
    /* justify-content: center; */
    justify-content: flex-end;
    margin-right: 5%;
}
.forgot-password a,.sign-up a{
    text-decoration: none;
    font-weight: boldIe;
    color: #192655;
}
.submit-button{ 
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.submit-button input[type="submit"]{
    width: 40%;
    padding:  13px 10px;
    border: 0.1rem black;
    background-color: #192655;
    color: white;
    
    border: 0.09rem solid #192655;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 0.4rem;
}
.sign-up{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.new-links-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.new-links-container a {
    margin: 0 10px;
    padding: 5px 10px;
    border: 0.09rem solid #192655;
    /* width: 90%; */
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}
