{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problem Statements</title>
  <link rel="stylesheet" href="{% static '/problemstatements/Problemstatement.css'%}">


</head>

<body>
  {%include 'home/navbar.html'%}
  <header>
    <h1>Problem Statements</h1>
  </header>

  <main>
    {% for statement in statements %}
    <div class="card">
      <div class="top">
        <h2>{{statement.title}}</h2>
        <div class="mentor-details">
          <h4>Mentor: {{statement.mentor_name}}</h4>
          <h4>Contact: {{statement.contact_mail}}</h4>
        </div>
      </div>
      <p>{{statement.description}}</p>
      <button>View Details</button>
    </div>
    {% endfor %}
    

    <div class="pagination">
      <button>&lt;&lt; Prev</button>
      <div class="itemsPerPage">
        <label for="itemsPerPage">Items per page:</label>
        <select id="itemsPerPage">
          <option value="10">10</option>
          <option value="40">40</option>
          <option value="100">100</option>
        </select>
      </div>
      <button>Next &gt;&gt;</button>
    </div>
  </main>

  <script src="script.js"></script>
</body>

</html>