@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: Nunito;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    border-radius: 10px;
}

header {
    color: #092c64;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 80%;
    margin: 20px auto;
    /*padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px; */

}

.card {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    border-radius: 15px;
    position: relative;
}

.top {
    display: flex;
    justify-content: space-between;
}

.mentor-details {
    top: 10px;
    right: 10px;
    text-align: right;
    text-align: left;
    /* position: absolute; */
}

.mentor-details h4 {
    line-height: 2.5rem;
}

h2 {
    color: #092c64;
}

h4 {
    line-height: 0.6;
}

button {
    font-family: Nunito;
    background-color: #092c64;
    color: white;
    margin-top: 0.5rem;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.pagination {
    font-family: Nunito;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#itemsPerPage {
    font-family: Nunito;
    border-radius: 10px;

}

.pagination button {
    font-family: Nunito;
    background-color: #092c64;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

@media (max-width: 600px) {

    /* .mentor-details {
        position: static;
        text-align: left;
        margin-bottom: 10px;
    } */
    .main {
        width: 100%;
        padding: 15px;
        margin: 5px 0px;
    }

    .card {
        width: 100%;
    }

    .top {
        display: flex;
        flex-direction: column;
    }
}