@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Audiowide&family=Barlow+Condensed:wght@100;500&family=Quicksand:wght@300&family=Teko:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  body {
    background-color: white;
    width: 100%;
    height: auto;
    color: #092c64;
    font-family: "Quicksand";
    font-weight: 900;
    font-size: medium;
  }
  
  
  h4{
    color: #092c64;
    font-size: 24px;
    font-family: "Barlow Condensed";
  }
  
  .prob-st {
  font-size: large;
    max-width: 80%;
    margin: 2rem auto;
    padding: 2rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.title {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}


.statement {
    font-family: "Barlow Condensed";
    letter-spacing: 2;
    text-transform: uppercase;
    padding-top: 0.2rem;
    text-align: center;
    font-size: 30px;
}

.divider {
    margin: 1rem 2rem;
    width: 90%;
    border: 1px solid #092c64;
}

.bodycontent{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
}

.lhs{
    padding: 0 1rem;
    text-align: left;
    border-right: 3px solid #092c64;
}

.details {
    padding: 0.5rem 0;
}

.desc{
    text-align: justify;
}

.rhs{
    padding: 0 1rem;
    text-align: left;
}


h3 {
    font-size: 32px;
    font-family: "Barlow Condensed";
    display: inline-block;
    position: relative;
    color: #092c64;
    margin: 20px 0;
  }
  
  h3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #092c64;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.card_content{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 10px;


}



.card_img img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 4px solid #092c64;
}
.card_details{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1039px){
    .bodycontent{
        grid-template-columns: auto;
    }
    .lhs{
        border-right: none;
        text-align: left;
    }


.rhs .buttons{
        padding: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
    }
    
    .sec-butt button{
        font-family: "Quicksand";
        font-size: 2vh;
        border: none;
        outline: none;
        padding: 10px 12px;
        margin: 20px;
        border-radius: 10px;
        background-color: #fff;
        color: black;
        border: 4px solid #092c64;
        cursor: pointer;
        font-weight: 1100;
        width: 100%;
    }
    .primary-butt input{
        font-family: "Quicksand";
        font-size: 3vh;
        border: none;
        outline: none;
        padding: 10px 12px;
        margin: 20px;
        border-radius: 10px;
        background-color: #092c64;
        color: #fff;
        font-weight: 300;
        width: 100%;
    }
}

.rhs .buttons{
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Quicksand";
    
}

 .primary-butt input{
    font-size: 1.3rem;
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 10px;
    background-color: #092c64;
    color: #fff;
    cursor: pointer;
    font-family: "Quicksand";
    font-weight: 900;
    
}
.sec-butt button{
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    border: 4px solid #092c64;
    cursor: pointer;
    font-weight: 900;
    font-family: "Quicksand";
}

.primary-butt button:hover{
    background-color: #fff;
    color: #092c64;
    border: 3px solid #092c64;
}



.sec-butt .fa-solid{
    color: #092c64;
}

