{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static './Register/mentor.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <div class="container">
        <div class="title"> Mentor Registration</div>
        <form method="post" action="{% url 'authentication:mentorRegister' %}" id="registrationForm">
            {%csrf_token%}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name" name="full_name"  title="Enter full name " required>
                </div>
                <div class="input-box">
                    <span class="details">Employee-ID</span>
                    <input type="text" placeholder="Enter your ID" name="employee_id" title=" Enter a valid ID " required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter your Email" name="email" title="Enter a valid Email Address" required>
                </div>
                <div class="input-box">
                    <span class="details">Create Password</span>
                    <input type="password" id="password" name="password" placeholder="Enter Password"
                        pattern="(?=.*\d)(?=.*[!@#$^&*()_+{}\[\]:;<>,.?~\\-]).{16}" maxlength="16"
                        title="Password must be at least 8 characters and include at least one special character"
                        class="password-input" required>
                    <div class="toggle-password" onclick="togglePasswordVisibility('password')">
                        <i class="fas fa-eye" id="eye-icon"></i>
                    </div>
                </div>

                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm Password"
                        pattern="(?=.*\d)(?=.*[!@#$^&*()_+{}\[\]:;<>,.?~\\-]).{8}" maxlength="16"
                        title="Password must be at least 8 characters and include at least one special character"
                        class="password-input" required>
                    <div class="toggle-password" onclick="togglePasswordVisibility('confirm-password')">
                        <i class="fas fa-eye" id="eye-icon-confirm"></i>
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="tel" placeholder="Enter your Mobile Number" name="phone_number" pattern="[0-9]{10}" maxlength="10"
                        title="Enter a 10-digit Phone Number" required>
                </div>
                <div class="input-box">
                    <span class="details">Expertise</span>
                    <select name="domain" placeholder="Enter the domain" name="domain" id="domain" required>
                        <option value="#">opt1</option>
                        <option value="#">opt2</option>
                        <option value="#">opt3</option>
                        <option value="#">opt4</option>
                        <option value="#">opt5</option>
                    </select>
                </div>

                <div class="input-box">
                    <span class="details">College Name</span>
                    <input type="text" placeholder="Enter your  College Name" name="college_name" title="Enter a College Name" required>
                </div>
                <div class="input-box">
                    <span class="details">Department</span>
                    <input type="text" placeholder="Enter Branch Name" name="department" title="Enter Department Name" required>
                </div>
                <div class="input-box">
                    <span class="details">Years of Experience</span>
                    <input type="text" placeholder="Enter Years of Experience" name="years_of_experience" title="Enter Years of Experience"
                        required>
                </div>

            </div>

            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
        <script>
            function validateForm() {
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirm-password").value;

                if (password !== confirmPassword) {
                    alert("Passwords do not match");
                    return false;
                }
                var form = document.getElementById("registrationForm");
                alert("registration successful");
                form.reset();
                return true;
            }

            function togglePasswordVisibility(passwordFieldId) {
                const passwordField = document.getElementById(passwordFieldId);
                const eyeIconId = passwordFieldId === 'password' ? 'eye-icon' : 'eye-icon-confirm';
                const eyeIcon = document.getElementById(eyeIconId);

                if (passwordField.type === 'password') {
                    passwordField.type = 'text';
                    eyeIcon.classList.remove('fa-eye');
                    eyeIcon.classList.add('fa-eye-slash');
                } else {
                    passwordField.type = 'password';
                    eyeIcon.classList.remove('fa-eye-slash');
                    eyeIcon.classList.add('fa-eye');
                }
            }


        </script>
        <div class="login-link">
            <p>Already Have an Account?<a href="/auth/login">Login</a></p>
        </div>
    </div>

</body>

</html>